<%= form_for(@widget) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @widget.choice_one_possibilities.each do |choice_one_possibility| %>
      <%= f.label :choice_one, choice_one_possibility %>
      <%= f.radio_button :choice_one, choice_one_possibility %><br/>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :choice_two %><br>
    <%= f.text_field :choice_two %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
