<%= form_for(@widget, {url: lookup_choice_two_possibilities_widgets_path, method: :get, html: {id: 'widget-choice-one'}}) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="widget-choice-one-fields" class="field">
    <label>Choice one</label><br/>
    <% @widget.choice_one_possibilities.each do |choice_one_possibility| %>
      <%= f.label :choice_one, choice_one_possibility %>
      <%= f.radio_button :choice_one, choice_one_possibility %><br/>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Choice One", id: "widget-submit-choice-one" %>
  </div>
<% end %>

<%= form_for(@widget) do |f| %>
  <%= f.hidden_field :choice_one %>

  <div class="field">
    <%= f.label :choice_two %><br>
    <%= f.select :choice_two, @widget.choice_two_possibilities, prompt: prompt_text(@widget) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
